.vscode/
._*
__pycache__/
*.pickle
notebooks/test/
data/processed/
tmp/
src/old_src
simulated_FC/
simulated_FCD/
simulated_FC.csv
simulated_FCD.csv
top_100_params.csv
training_iteration.txt
cost_with_seed_*.txt
